<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta data-fr-http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS GlassMorphism</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
<section>
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <div class="circle-3"></div>
    <div class="card">
        <div>
            <h1>John Doe</h1>
            <p>1892 1232 1242 0099</p>
        </div>
        <p>
            07/27
        </p>
        <i class="ri-visa-line"></i>
    </div>
</section>
</body>
</html>